// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// font imports
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    // primary text colors
    --veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
    --softRed: hsl(14, 88%, 65%);
    // background gradient
    --softViolet: hsl(273, 75%, 66%);
    --softBlue: hsl(240, 73%, 65%);
    // neutural text colors
    --veryDarkGrayishBlue: hsl(237, 12%, 33%);
    --darkGrayishBlue: hsl(240, 6%, 50%);
    // dividers
    --lightGrayishBlue: hsl(240, 5%, 91%);
    // body copy font size
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
}

@media only screen and (max-width: 500px) {
    body {
        background: linear-gradient(var(--softViolet), var(--softBlue));
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }
    .card {
        width: 350px;
        height: 400px;
        background-color: white;
        display: flex;
        margin: 160px auto;
        border-radius: 25px;
        position: relative;
    }
    .pic {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
    }
    #image {
        width: 250px;
        position: absolute;
        left: 15%;
        bottom: 80%;
    }


    .attribution {
        font-size: 11px;
        text-align: center;
    }
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}